body {
 background-color: #161616;
}

.App {
  display: flex;
  justify-content: space-around;
}

.block {
  padding: 20px;
  background-color: rgb(255, 255,255, 0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
